<h3>Buscar por region <small>{{ this.regionActiva | titlecase }}</small></h3>
<hr>

<div class="row">
  <div class="col">
<!--    [class.btn-primary]="region === regionActiva"-->
    <button *ngFor="let region of regiones"
    class="btn btn-outline-primary"
    [ngClass]="{
      'btn-primary': regionActiva === region
      }"
    (click)="activarRegion(region);"
    >
      {{ region }}
    </button>
  </div>
</div>

<div *ngIf="paises.length > 0" class="row">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
